# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Data folder (if you don't want to upload your data)
data/

# Other common files to ignore
*.log
*.sqlite
*.db
*.csv
*.tar.gz
*.zip

# IDE files (e.g., JetBrains, VS Code, etc.)
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating System files (macOS, Windows)
.DS_Store
Thumbs.db
